---
import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

export const getStaticPaths = (async () => {
	const blogposts = await getCollection('blogposts');
	return blogposts.map(post => ({
		params: { id: post.id },
		props: { post }
	}));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout
	title={post.data.title}
	description={post.data.description}
	ogImgSrc={post.data.cover}
	ogImgAlt={post.data.coverAlt}
>
	<article>
		<h1>{post.data.title}</h1>
		<div class="categories">
			{
				post.data.categories.map(c => (
					<a href={`/blog/tags/${c.toLowerCase()}`} class="category">
						{c}
					</a>
				))
			}
		</div>
		<p class="date">
			{
				post.data.pubDate.toLocaleString('en-GB', {
					day: '2-digit',
					month: 'long',
					year: 'numeric'
				})
			}
		</p>
		{
			post.data.cover && (
				<div class="cover-container">
					<Image src={post.data.cover} alt={post.data.coverAlt} />
				</div>
			)
		}
		<blockquote>{post.data.description}</blockquote>
		<Content />
	</article>
</BaseLayout>

<style lang="scss">
	// Styles are in BaseLayout
</style>
