---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import External from '~icons/lucide/external-link';
import Book from '~icons/lucide/book-text';

const allProjects = await getCollection('projects');
const projects = allProjects.filter(project => project.data.highlight);
---

<section>
	<h2 class="section-heading">Projects</h2>

	<div class="projects">
		{
			projects.map(project => (
				<div class="project">
					<div class="img-container">
						{project.data.cover && (
							<Image
								src={project.data.cover}
								alt={project.data.coverAlt}
							/>
						)}
					</div>

					<div class="text-container">
						<p class="eyebrow">Featured Project</p>

						<h3>{project.data.title}</h3>

						<p class="description">{project.data.description}</p>

						<div class="technologies">
							{project.data.technologies.map(tech => (
								<div class="tech">{tech}</div>
							))}
						</div>

						<div class="links">
							{project.data.externalLink && (
								<a
									href={project.data.externalLink}
									class="main-button"
									title="Visit the live project (external link)"
									target="_blank"
								>
									<External /> Visit Live
								</a>
							)}

							<a
								href={`/projects/${project.id}`}
								class="main-button"
								title="read about this project"
							>
								<Book />
								Read
							</a>
						</div>
					</div>
				</div>
			))
		}
	</div>
</section>

<style lang="scss">
	section {
		.projects {
			display: flex;
			flex-direction: column;
			gap: 80px;

			.project {
				display: flex;
				align-items: center;
				position: relative;

				@include view-tablet-s {
					flex-direction: column;
					gap: 40px;
				}

				.img-container {
					position: absolute;
					width: 50%;

					@include view-tablet-s {
						position: static;
						width: 100%;
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
						border-radius: 8px;
						overflow: hidden;
						box-shadow: 0 4px 10px #00000055;
					}
				}

				.text-container {
					width: 50%;
					margin-left: auto;
					text-align: end;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					z-index: 1;

					@include view-tablet-s {
						width: 100%;
						text-align: start;
						align-items: flex-start;
					}

					.eyebrow {
						width: fit-content;
						margin-bottom: 12px;
						@include font-heading;
						color: var(--primary);
						font-size: 0.875rem;
					}

					h3 {
						margin-bottom: 20px;
					}

					.description {
						line-height: 1.6;
						font-size: 0.875rem;
						width: 110%;
						background-color: var(--background);
						padding: 14px;
						border-radius: 8px;
						border: 1px solid var(--primary);
						box-shadow: 0 4px 10px #00000055;
						margin-bottom: 20px;

						@include view-tablet-s {
							width: 100%;
							font-size: 1rem;
						}
					}

					.technologies {
						display: flex;
						justify-content: flex-end;
						flex-wrap: wrap;
						gap: 8px;
						margin-bottom: 24px;
						width: calc(100% - 20px);

						@include view-tablet-s {
							justify-content: flex-start;
						}

						.tech {
							display: block;
							padding: 2px 8px;
							background-color: var(--darkgray);
							border-radius: 8px;
							font-size: 0.75rem;
						}
					}

					.links {
						display: flex;
						flex-wrap: wrap;
						gap: 8px;

						.main-button {
							font-size: 0.875rem;
							padding: 4px 10px;
						}
					}
				}
			}
		}
	}
</style>
